<footer>
  <div class="col-xs-6 col-md-4 col-lg-3">
	cot 1
  </div>
  <div class="col-xs-6 col-md-4 col-lg-3">
	cot 2
  </div>
  <div class="col-xs-6 col-md-4 col-lg-3">
	cot 3
  </div>
  <div class="col-xs-6 hidden-md col-lg-3">
	cot 4
  </div>
  </footer>
	
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
	<script src="http://getbootstrap.com/dist/js/bootstrap.min.js"></script>
	<script src="http://getbootstrap.com/assets/js/ie10-viewport-bug-workaround.js"></script>

</body>
</html>
