<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta name="description" content="">
<meta name="keywords" content="">
<meta name="author" content="vitinhkk, binhbat">
<link href="http://getbootstrap.com/dist/css/bootstrap.min.css" rel="stylesheet">
<link rel="apple-touch-icon" href="/apple-touch-icon.png">
<link rel="icon" href="/theme/{{site.theme}}/favicon.ico">
<style>

</style>
<title>{{page.title}}</title>
</head>
<body>
		<header class="navbar navbar-default">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span><span class="icon-bar"></span><span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="{{site.baseurl}}">{{site.name}}</a>
        </div>
        <div id="navbar" class="collapse navbar-collapse">
          <ul class="nav navbar-nav">
					{% for cat in site.categories %}
						<li><a href="{{site.baseurl}}/{{cat[0]}}">{{cat[0]|upcase}}</a></li>
					{% endfor %}
          </ul>
        </div><!--/.nav-collapse |uri_escape-->
      </div>
		</header>