<div class="col-xs-6 col-md-3 col-lg-2">
	<div class="row">
		{% if post.price %}	
		<span class="badge">
		{% assign k = post.price|divided_by:1000%}
		{% assign m = post.price|divided_by:1000000%}
		{% if m >= 1 %}~{{m}}M
		{% elsif k >= 1 %}~{{k}}K
		{% endif %}
		</span>
		{% endif %}		
		<a href="{{post.url|prepend:site.baseurl}}"><span class="label label-info">{{post.title}}</span></a>
		{% if post.thumb %}
		<img src="{{site.baseurl}}/thumb/{{post.thumb}}" class="img-thumbnail"/>
		{% endif %}
	</div>
</div>
